.auth-layout {
  background: url("/hunting-bg.jpg") no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.auth-layout::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
      100% 253.65% at 100% 0%,
      #2b4226 5%,
      #4b5320 50.11%,
      #0f1b0d 86.44%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

  z-index: 1;
}

.auth-layout-inner {
  padding: 2rem;
  width: 100%;
  position: relative;
  z-index: 2;
}

.auth-layout-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.auth-layout-title {
  color: #f5e9d1; /* Lighter color */
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center;
  font-family: "FiraGo", sans-serif;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.auth-layout-subtitle {
  color: #f0e0c0; /* Lighter color */
  text-align: center;
  margin-bottom: 1rem;
  font-family: "FiraGo", sans-serif;
}

.auth-layout-children {
  width: 100%;
  display: flex;
  justify-content: center;
}
